@using CodeChallange.Entity
@model List<CodeChallange.Entity.User>


<table class="table">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td><a href="#" data-url="Home/Update/@item.ID" class="update" data-toggle="modal" data-target="#updateModal">Update</a></td>
            <td><a href="#" data-id="@item.ID" class="delete" data-toggle="modal" data-target="#confirm-delete">Delete</a></td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Phone</td>
        </tr>
    }
    </tbody>
</table>

<script>
$(document).ready(function () {
    main.updateUser();
    //main.setPaging();
});
</script>